body {
  background-color: rgb(26, 26, 26);
}

.card {
  color: white;
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 6px 0 white;
}

.card:hover{
  cursor: pointer;
}

.card-title{
  border-left: 8px solid rgb(10, 47, 194)
}

.tag{
  background-color: lightgray;
  padding: 5px;
  border-radius: 3px;
  margin: 3px;
  display: inline-block;
  color: black;
  font-weight: bold;
}

.card-image {
  border-radius: 10px
}